  .pulse-effect-yellow 
  {
    animation: pulse-yellow 2s infinite;
    color: #ffcc00;
  }
  @keyframes pulse-yellow 
  {
    0%, 100% 
    {
      opacity: 1;
    }
    50% 
    {
      opacity: 0.5;
    }
  }
  .pulse-effect-purple 
  {
    animation: pulse-purple 2s infinite;
    color: #a020f0;
  }  
  @keyframes pulse-purple 
  {
    0%, 100% 
    {
      opacity: 1;
    }
    50% 
    {
      opacity: 0.5;
    }
  }